body {
    font-family: Verdana, sans-serif;
    font-size: 13px;
    background-color: black;
    color: white;
}

.team-flag {
    height: 40px;
    /* width automatic */
    max-height: 40px;
    max-width: 100px;
}

th,
td {
    padding-left: 3px;
    padding-right: 3px;
    max-width: 20%;
    white-space: nowrap;
    text-overflow: ellipsis;
    border: 2px solid black;
    font-size: 13px;
}

th,
td a {
    color: white;
    text-decoration: none;
}

th {
    font-size: 12px;
}

/* tr has dead-time class, every td child needs color adjust */

table {
    /* disable the outer border */
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    background-color: darkslategray;
}

table tr:first-child th {
    border-top: 0;
}

table tr:last-child td {
    border-bottom: 0;
}

table tr td:first-child,
table tr th:first-child {
    border-left: 0;
}

table tr td:last-child,
table tr th:last-child {
    border-right: 0;
}

.active-sort {
    background-color: rgb(27, 46, 46);
}

/* tr with dead-team class */
.dead-team {
    background-color: darkred;
}

.total-team {
    background-color: darkslateblue;
    font-weight: bold;
}

tr:hover {
    background-color: darkcyan;
}

.tab-button {
    background-color: darkslategray;
    color: white;
    border: none;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.tab-button:hover {
    background-color: darkcyan;
}

.mode-select-container {
    font-size: large;
    /* equal child widths */
    display: flex;
    align-items: center;
    margin-top: 5px;
}

/* just a link */
.mode-select {
    color: white;
    text-decoration: none;
    margin: 5px;
}

.mode-select:hover {
    color: lightgray;
    text-decoration: none;
}

.mode-select-active {
    color: lightgray;
    text-decoration: none;
    border-bottom: 1px solid white;
    font-weight: bold;
    font-style: italic;
}

.team-range-filter {
    width: '50px';
}

.clickableRow {
    cursor: pointer;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.pagination-button {
    color: white;
    padding: 8px 8px;
    text-decoration: none;
    transition: background-color .3s;
}

.pagination-button-disabled {
    color: gray;
}

.team-table-container {
    max-width: 90%;
    margin: auto;
}

.team-filter-base-options {
    display: flex;
    flex-direction: row;
}

@media (max-width: 1200px) {
    .mobile-hidden {
        display: none;
    }

    /* all inputs in team-filter-base-options */
    .team-filter-base-options * {
        display: block;
    }

    .team-flag {
        height: 25px;
        max-height: 25px;
    }

    body {
        font-size: 11px;
    }

    th,
    td {
        padding-left: 1px;
        padding-right: 1px;
        font-size: 11px;
    }

    .team-table-container {
        max-width: 100%;
        padding-left: 0;
        padding-right: 0;
    }

    .filter-input-radio {
        display: flex;
        flex-direction: row;
    }
}